task1/chapter.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="chapter">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="title" type="xs:string" />
            <xs:element name="section" maxOccurs="unbounded" type="section" />
        </xs:sequence>
    </xs:complexType>
</xs:element>
<xs:complexType name="section">
    <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="para" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" />
</xs:complexType>
</xs:schema>